<head>

</head>
<body>
    <div class="row" style="width: 100%;height: 100px;position: absolute;">
        <canvas class="background"></canvas>
    </div>
    <div class="container">       
        <div class="row" style="margin-top:100px">
            <div class="col-md">
                <h1 class="text-center">Apply LogoViz to your Video</h1>
                <hr>
            </div>
        </div>
        <div class="row" style="background-color:whitesmoke">
            <div class="col-md">
                <form action="get-video" style="margin-top:12px" method="POST" id="video">
                    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                    <h4 class="text-center" style="margin-top:12px">Youtube Link to Video</h4>
                    <input class="form-control" type="search" name="videoURL" value="https://youtu.be/VE8KEP3RlIw" placeholder="https://youtu.be/VE8KEP3RlIw">
                    <h4 class="text-center" style="margin-top:12px">Brand to Locate</h4>
                    <select name="brandName" form="video" class="form-control">
                        <% for(var i=0; i < brands.length; i++) { %>
                            <option value="<%=brands[i].brandName %>"><%=brands[i].brandName%></option>
                        <% } %>
                    </select><br> <br>
                    <input class="btn btn-dark form-control" style="margin-bottom: 12px" type="submit" value="Search"><br>
                </form>
            </div>
        </div>
        <div class="row">
                <a href="/">
                <button type="button" class="btn btn-dark">Back</button> </a>
                <small style="margin-left:15px; margin-top: 10px">This may take some time as the video will be downloaded</small>
            </div>
    </div>
    <!-- Particle Js is a NPM module for showing a web of particles found at https://www.npmjs.com/package/particlesjs -->
    <script src="./js/utilities/particles.min.js"></script>
</body>

<script>
        window.onload = function() {
          Particles.init({
            selector: '.background',
            connectParticles: true,
            maxParticles: 80,
            minDistance: 60,
            color: '#878787',
          });
        };
        </script>


<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
