<br><h1 class="text-center">Retrieved Video and Thumbnail</h1>
<hr width="60%">
<div class="container">
    <div class="row">
       <div class="col-sm">
            <img width="100%" src="logos/<%=logoPath%>">
        </div>
        <div class="col-sm">
            <video width="100%" controls>
                <source src="<%=videoURL%>" type='video/mp4'>
            </video>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a>
                <h2 class="text-center" onclick="test()">Click here to view matching output</h2>
            </a>
        </div>
        
    </div>
</div>
<form action="start-process" method="POST" id="process">
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        <input type="hidden" name="videoURL" value="https://www.youtube.com/watch?v=679msHEcBRQ">
        <input type="hidden" name="Logo" value="<%=logoPath%>">
    </form>

<script>
    function test(){
        console.log("yeet");
        var form = document.getElementById("process");
        form.submit();
    }
</script>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
