<head>
  <title>LogoViz. Dashboard</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md">
        <img class="rounded mx-auto d-block" src="images/logoviz2.png" style="width:100%">
        <h3>Your Dashboard</h3>
        <hr>
      </div>
    </div>
    <div class="row" style="margin-top:30px">
      <div class="col-sm">
        <a href="brands">
          <img class="rounded mx-auto d-block" src="/images/setup-customize.png">
          <h3 class="text-center">Search existing brands</h3>
        </a>
      </div>
      <div class="col-sm">
        <a href="/newbrand">
          <img class="rounded mx-auto d-block" src="/images/setup-email.png">
          <h3 class="text-center">Upload your own Brand</h3>
        </a>
      </div>
      <div class="col-sm">
        <a href="/search">
          <img class="rounded mx-auto d-block" src="/images/setup-payment.png">
          <h3 class="text-center">Apply LogoViz Detection</h3>
        </a>
      </div>
    </div>
  </div>
  <router-view></router-view>
</body>


<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
