<script src ="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"></link> -->

<div class="container">
    <div class="row" style="margin-top:25px;">
        <div class="col-sm-8" style="background:whitesmoke">
            <canvas id="myChart" width="100%" height="100%"></canvas>
        </div>
        <div class="col-sm-4" style="background:whitesmoke">
            <canvas id="chart2" width="100%" height="100%"></canvas>
            <p>Video Length: <%=numMatches.length%> seconds</p><hr>
            <canvas id="chart3" width="100%" height="100%"></canvas>
        </div>
    </div>   
</div>

<script>
    var percentages = [<%=percentages%>];
    var matches = [<%=numMatches%>];

    var timeOn = <%=onscreen%>;
    var totalTime = matches.length;
    var time = [];
    time.push(timeOn);
    time.push(totalTime - timeOn);

    var labels = [];
    for(var i = 0; i < matches.length; i++){
        labels.push(i);
    }

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Percentage of Keypoints Matched',
                data: matches,
                fill: true,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            },
            {
                label: 'Percentage of Screen',
                data: percentages,
                backgroundColor: [
                    'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }
        ]
        },
        options: {
            title: {
                text: "Keypoint Matches and Logo-Video Ratio",
                display: true,
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    var ctx2 = document.getElementById('chart2').getContext('2d');
    var pie1 = new Chart(ctx2, {
        type: 'doughnut',
        data: {
            labels: ['Visible', 'Not Visible'],
            datasets: [{
                label: 'Time',
                data: time,
                backgroundColor: [
                    'rgba(54, 255, 54, 0.6)',
                    'rgba(255, 99, 130, 0.6)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            title: {
                text: "Amount of Time Visible",
                display: true,
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    var pointX = [<%=heatPointX%>];
    var pointY = [<%=heatPointY%>];
    var heatSize = [<%=heatSize%>];
    
    var heatData = [];
    var heatFill = [];
    for (var i = 0; i < pointX.length; i++){
        var test = JSON.parse(JSON.stringify({x:pointX[i], y:pointY[i], r:heatSize[i]}));
        heatFill.push('rgba(255, 0, 0, 0.05)');
        console.log("please: " + test);
        heatData.push(test);
    }


    var ctx3 = document.getElementById('chart3').getContext('2d');
    var pie1 = new Chart(ctx3, {
        type: 'bubble',
        data: {
            datasets: [{
                data: heatData,
                label: 'Logo Detection',
                backgroundColor: heatFill,
                borderColor: heatFill,
                borderWidth: 0
            }]
        },
        options: {
            legend: {
                display: false,
            },
            title: {
                text: "Heatmap for Detections",
                display: true,
            },
            responsive: true,
            labels: {
                display: true
            },
            scales: {
                yAxes: [{
                    ticks: {
                        min: 0,
                        max: 1080
                    }
                }],
                xAxes: [{
                    ticks: {
                        min: 0,
                        max: 720
                    }
                }]
            },
        }
    });
</script>