<div class="container">
    <h1>Different outputs from different template matching methods</h1>
    <div class="row">
        <div class="col-sm">
            <img src='/images/out0.jpg' width="500" height="250" onerror="location.reload();">
            <small>Output Using Matching Method:  CV_TM_SQDIFF</small>
        </div>
        <div class="col-sm">
            <img src='/images/out1.jpg' width="500" height="250" onerror="location.reload();">
            <small>Output Using Matching Method:  CV_TM_SQDIFF_NORMED</small>
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm">
           <img src='/images/out2.jpg' width="500" height="250">
           <small>Output Using Matching Method:  CV_TM_CCORR</small>
        </div>
        <div class="col-sm">
           <img src='/images/out3.jpg' width="500" height="250">
           <small>Output Using Matching Method:  CV_TM_CCORR_NORMED</small>
        </div>
    </div><br>
    <div class="row">
            <div class="col-sm">
               <img src='/images/out4.jpg' width="500" height="250">
               <small>Output Using Matching Method:  CV_TM_CCOEFF</small>
            </div>
            <div class="col-sm">
               <img src='/images/out5.jpg' width="500" height="250">
               <small>Output Using Matching Method:  CV_TM_CCOEFF_NORMED</small>
            </div>
        </div> 
</div>
