<!-- enctype="multipart/form-data" -->
<head>

</head>
<body>
    <div class="row" style="width: 100%;height: 100px;position: absolute;">
            <canvas class="background"></canvas>
    </div>
    <div class="container">
        <div class="row" style="margin-top:100px">
            <div class="col-md">
                <h1 class="text-center">Upload new Logo</h1>
                <hr>
            </div>
        </div>
        <div class="row" style="background-color:whitesmoke">
            <div class="col-md">
                <form id="uploadForm" style="margin-top:12px" enctype="multipart/form-data" action="/file/upload" method="post">
                    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                    <h2 class="text-left" style="margin-top:12px">Brand Name:</h2>
                    <input type="text" required class="form-control" name="brand" placeholder="LogoViz.">
                    <h2 class="text-left" style="margin-top:12px">Brand Website:</h2>
                    <input type="text" required class="form-control" name="website" placeholder="www.LogoViz.com">
                    <h2 class="text-left" style="margin-top:12px">Brand Logo:</h2>
                    <input type="file" accept="image/*" required class="btn btn-light form-control" name="uploadFile" />
                    <br><br>
                    <input type="submit" style="margin-bottom:12px" class="btn btn-dark form-control" value="submit"/>
            </form>
            </div>
        </div>
        <div class="row">
            <a href="/">
                <button type="button" class="btn btn-dark">Back</button>
            </a>
        </div>
    </div>
    <!-- Particle Js is a NPM module for showing a web of particles found at https://www.npmjs.com/package/particlesjs -->
<script src="./js/utilities/particles.min.js"></script>
</body>
<script>
window.onload = function() {
  Particles.init({
    selector: '.background',
    connectParticles: true,
    maxParticles: 80,
    minDistance: 60,
    color: '#878787',
  });
};
</script>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>


