<body>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h1 class="text-center" style="margin-top:40px">Search For Existing Brands</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <input type="text" class="form-control" id="search" style="margin-bottom: 12px;" onkeyup="search()" placeholder="Search for brands..">
                <table id="brandTable" class="table table-striped table-bordered table-hover table-dark">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Brand</th>
                            <th scope="col">Created by</th>
                            <th scope="col">Logo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < brands.length; i++) { %>
                            <tr>
                                <td>
                                    <%= brands[i].brandName %>
                                </td>
                                <td>
                                    <a href="<%= 'https://' + brands[i].brandWebsite %>">
                                        <%= brands[i].brandWebsite %>
                                    </a>
                                </td>
                                <td>
                                    <img style="height:30px; margin: auto" src=/logos/<%= brands[i].logoPath %>>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>            
                </table>
                <div class="row">
                        <a href="/">
                            <button type="button" class="btn btn-dark">Back</button>
                        </a>
                        <a style="margin-left: 20px; margin-top: 10px" href="/newbrand">Can't see the logo you are looking for? You can always add it</a>
                    </div>
                
            </div>
        </div> 
    </div>
</body>

<script>
        function search() {
          // Declare variables 
          var input;
          var filter;
          var table;
          var tr;
          var td;
          var i;
          var txtValue;
          input = document.getElementById("search");
          filter = input.value.toUpperCase();
          table = document.getElementById("brandTable");
          tr = table.getElementsByTagName("tr");
        
          // Loop through all table rows, and hide those who don't match the search query
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            } 
          }
        }
        </script>